[Desktop Entry]
Type=Service
Icon=gtk-convert
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=video/*;
Actions=moveTo;
X-KDE-Priority=TopLevel
#X-KDE-Submenu=
Encoding=UTF-8
[Desktop Action moveTo]
Name=Convert selected to mp4
Icon=gtk-convert
Exec=/home/$USER/Programs/Scripts/ffmultiple %F
